@charset "UTF-8";
.nnn{
	width: 45px;
	font-size: 20px;
	text-align: center;
}
.no{
	width: 30px;
	font-size: 20px;
	text-align: center;
}
.nn{
	width: 50px;
	font-size: 20px;
	text-align: center;
}
.cc{
	width: 100px;
	font-size: 20px;
	text-align: center;
}
.hn{
	width: 300px;
	font-size: 20px;
	text-align: center;
}
.hg{
	width: 100px;
	font-size: 20px;
	text-align: center;
}
.ii{
	width: 300px;
	font-size: 20px;
	text-align: center;
}
.dd{
	font-size: 20px;
	text-align: center;
}