@charset "UTF-8";
.lgtd{
	height: 50px;
	font-size: 30px;
}
input{
	height: 30px;
}
#id{
	width: 250px;
}
#pw{
	width: 250px;
}
#btn{
	width: 100px;
}
#loglog{
	position: absolute;
	left: 350px;
	top: 550px;
	
}